.about {
    display: grid;
    place-items: center;
}
.about-info {
    background-image: var(--bgAboutInfo);
    max-width: 80rem;
    width: 100%;
    min-height: 25rem;
    margin: 1rem auto 3rem auto;
    transform: rotate(-2deg);
    transform-origin: 50%;
    border-radius: 1.5rem;
    padding: 2rem 2rem;
    position: relative;
    box-shadow: 0px 1.5rem 1rem -1rem rgba(0,0,0,0.25);
}
.about-info::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4rem;
    height: 100%;
    border-radius: 1.5rem 0 0 1.5rem;

    background: url(../img/pen.svg);
    background-repeat: no-repeat;
    background-position: 48% 50%;
    background-size: 25rem;
}

.about-info p {
    color: var(--black);
    margin-bottom: 1rem;
    margin-left: 3rem;
    font-weight: 500;
    font-size: 1.75rem;
}
.about-info p:first-child:first-letter {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1;
}