.blog {
    background-color: #f8f8f8;
    background-image: var(--bgBlog);
    background-repeat: no-repeat;
    background-position: top left;
    /* background-attachment: fixed; */
}

.blog::before {
    background-color: #212529;
    background-image: var(--bgBlog);
    background-repeat: no-repeat;
    background-position: top left;
}



.blog .section__header {
    margin-bottom: 3rem;
}
.blogs {
    min-height: 60vh;
    display: grid;
    gap: 1.5rem;
    justify-content: center;
    align-content: center;
}
.blogs__post {
    width: 100%;
    padding: 0.5rem 1rem;
}
.blogs__date {
    color: var(--linkColHov);
    font-size: 1.3rem;
    font-weight: bold;
}

.blogs__link {
    background: var(--linkColHov);
    color: var(--white);
    padding: 0.5rem 1.5rem;
    display: inline-block;
    transition: all 0.5s ease-out;
    font-weight: 400;
    clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 0% 50%, 0% 0%);
}
.blogs__link:hover {
    padding-left: 2rem;
    background: var(--linkCol);
    clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
}

.blogs__hashnode {
    width: 100%;
    min-height: 20vh;
    display: grid;
    place-items: center;
    text-align: center;
}
.blogs__hashnode a {
    color: var(--linkColHov);
    transition: var(--transition);
}
.blogs__hashnode a:hover {
    color: var(--linkCol);
}