#home {
    background-image: url(../img/code-icon.svg);
    background-repeat: no-repeat;
    background-position: 97% 95%;
    background-size: 13rem, 100%;
}
.home {
    height: 85vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.home .greeting ,
.home h4 {
    padding-left: 0.5rem;
}
.home-title {
    font-size: 20vmin;
    line-height: 1.2;
    padding: 0;
}


@media screen and (max-width:768px) {
    .home {
        height: 100vh;
    }
}

@media screen and (max-width:420px) {
    .home > * {
        transform: translateY(-3rem);
    }
}