/**/
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&family=Open+Sans:wght@300;400;600&display=swap');
/*
font-family: 'Lobster Two', cursive;
font-family: 'Open Sans', sans-serif;
*/

::selection {
    color: var(--white);
    background: var(--green-dark);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
}
body {
    width: 100%;
    min-height: 100vh;
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--gray);
    background: var(--bgDark);
    transition: background var(--speed) ease;
}

.light {
    background: var(--white);
    color: var(--black);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
}

.section {
    width: 100%;
    min-height: 100vh;
    transition: background var(--speed) ease;
}
.section .container {
    min-height: 85vh;
}
.section:nth-child(even) {
    background: #222831;
}
.light .section:nth-child(even) {
    background: #F5F5F5;
}





.section-header {
    min-height: 15vh;
    font-size: 3rem;
    font-family: 'Lobster Two', 'Open Sans', cursive;
    color: var(--green);
    display: grid;
    place-items: center;
    text-align: center;
}
.section-header-title {
    position: relative;
}
.section-header-title::before {
    content: '';
    position: absolute;
    bottom: 0.5rem;
    left: 25%;
    width: 50%;
    height: 0.25rem;
    background: var(--green-dark);
    border-radius: 50%;
}



.footer {
    background-image: var(--bg-footer);
    background-size: 5px 5px;
}
.footer-content {
    height: 15vh;
    color: var(--white);
    font-size: 1.3rem;
    font-family: 'Lobster Two', cursive;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.footer-content p {
    margin: 0.25rem 0;
}
.footer-content a {
    color: var(--green);
}