/**/
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&family=Open+Sans:wght@300;400;600&display=swap');
/*
font-family: 'Lobster Two', cursive;
font-family: 'Open Sans', sans-serif;
*/

::selection {
    color: var(--white);
    background: var(--linkColHov);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
}
body {
    width: 100%;
    min-height: 100vh;
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--black);
    background: var(--white);
    transition: background 0.01s ease-in;
}
.dark {
    background: var(--bgDark);
}
main {
    width: 100%;
    min-height: 100vh;
}

.section {
    width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 1;
    transition: all var(--transition);
    background: var(--white);
}
.section::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: all var(--transition);
    background: var(--bgDark);
}
.content {
    width: 90%;
    max-width: 1200px;
    min-height: 80vh;
    margin: 0 auto;
}

.section__header {
    /* border:1px solid purple; */
    min-height: 20vh;
    display: grid;
    place-items: center;
    text-align: center;
    font-size: 4rem;
    font-family: 'Lobster Two', 'Open Sans', cursive;
    color: var(--linkColHov);
    background: -webkit-linear-gradient(-115deg, var(--linkColHov), var(--linkCol));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dark .section::before {
    opacity: 1;
}
.dark {
    color: var(--gray);
}

ul {
    list-style: none;
}


a {
    text-decoration: none;
}

button {
    cursor: pointer;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
}