/*        Pre Format
************************************/
:root {
    scroll-behavior: smooth;

    --black: #333;
    --white: #fff;
    --gray: #ddd;
    --bgDark: #29323c;

    --green: #22CD92;
    --green-dark: #2A9D8F;
    --speed: 0.75s;

    --menuShadow: inset 9px 9px 16px #8d9091,
    inset -9px -9px 16px #2A9D8F;
    --menuShadowOriginal: inset 9px 9px 16px #4c4c4c,
    inset -9px -9px 16px #a2a2a2;

    --bg-nav: linear-gradient(-110deg, #343A40, #202C39);


    --bgCraftCard: linear-gradient(127deg, rgba(153, 255, 88, 0.46) 0%, rgba(153, 255, 88, 0.46) 14.286%,rgba(134, 245, 84, 0.46) 14.286%, rgba(134, 245, 84, 0.46) 28.572%,rgba(114, 236, 80, 0.46) 28.572%, rgba(114, 236, 80, 0.46) 42.858%,rgba(95, 226, 76, 0.46) 42.858%, rgba(95, 226, 76, 0.46) 57.144%,rgba(76, 216, 72, 0.46) 57.144%, rgba(76, 216, 72, 0.46) 71.43%,rgba(56, 207, 68, 0.46) 71.43%, rgba(56, 207, 68, 0.46) 85.716%,rgba(37, 197, 64, 0.46) 85.716%, rgba(37, 197, 64, 0.46) 100.002%),linear-gradient(285deg, rgb(116, 183, 117) 0%, rgb(116, 183, 117) 14.286%,rgb(113, 173, 114) 14.286%, rgb(113, 173, 114) 28.572%,rgb(110, 163, 110) 28.572%, rgb(110, 163, 110) 42.858%,rgb(107, 154, 107) 42.858%, rgb(107, 154, 107) 57.144%,rgb(104, 144, 103) 57.144%, rgb(104, 144, 103) 71.43%,rgb(101, 134, 100) 71.43%, rgb(101, 134, 100) 85.716%,rgb(98, 124, 96) 85.716%, rgb(98, 124, 96) 100.002%);

    --bg-footer: radial-gradient(circle at center center, hsla(166,0%,10%,1) 0%,hsla(181,0%,10%,1) 29%,transparent 65%),linear-gradient(90deg, rgb(35,35,35) 0%, rgb(35,35,35) 50%,rgb(35,35,35) 50%, rgb(35,35,35) 100%);

    --bgAboutInfo: repeating-linear-gradient(45deg, rgba(252,191,73, 0.81) 0px, rgba(252,191,73, 0.81) 10px,transparent 10px, transparent 11px),repeating-linear-gradient(135deg, rgba(252,191,73, 0.81) 0px, rgba(252,191,73, 0.81) 10px,transparent 10px, transparent 11px),linear-gradient(90deg, rgb(239,239,239),rgb(239,239,239));

}